* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(28, 28, 28);
}

html {
    font-family: system-ui;
    font-weight: 900;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes click {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 15rem;
    box-shadow: 4px 4px 20px 0px;
    text-align: center;
    z-index: 2;
    background-image: linear-gradient(57deg, #ebff00, #d19400);
}

.txt-coin {
    margin-top: 55px;
    font-size: 60px;
    font-weight: bolder;
}

.num {
    color: gray;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 10;
    animation: fadeOut 1s ease forwards;
    font-size: large;
}

.result {
    color: aliceblue;
    font-size: 35px;
    margin: 10px;
    position: absolute;
    top: 30px;
    font-weight: bolder;
}

.txt {
    color: #294770;
    position: absolute;
    top: 82px;
}

.footer {
    display: flex;
    margin-top: 100px;
}

.income {
    margin: 8px;
    border: 1px solid white;
    padding: 4px 15px;
    border-radius: 7px;
    background: #f0f8ff1a;
}

.discript {
    text-align: center;
    color: aliceblue;
}

.title {
    text-align: center;
    color: #0060b5;
}
